.gradient__text {
    animation: apparition 0.8s ease-out;
}

@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.bc__footer {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-footer);
}

.bc__footer-heading {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}

.bc__footer-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    text-align: center;
    letter-spacing: -0.04em;
}

.bc__footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid #fff;
    text-align: center;
    margin-bottom: 10rem;
    cursor: pointer;
}

.bc__footer-btn p{
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    word-spacing: 2px;
}

.bc__footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    text-align: left;
}

.bc__footer-links div {
    width: 250px;
    margin: 1rem;
}

.bc__footer-links logo {
    display: flex;
    flex-direction: column;
}

.bc__footer-links_logo img {
    width: 118px;
    height: 30px;
    margin-bottom: 1rem;
}

.bc__footer-links_logo p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.bc__footer-links_div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.bc__footer-links_div h4 {
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    margin-bottom: 1rem;
}

.bc__footer-links_div p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    margin: 0.5rem 0;
    cursor: pointer;
}

.bc_footer-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.bc__footer-copyright p{
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
}

@media screen and (max-width: 850px) {
    .bc__footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .bc__footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .bc__footer-links div {
        margin: 1rem 0;
    }

    .bc__footer-btn p {
        font-suze: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 350px) {
    .bc__footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
}